@import "bootstrap/functions";
@import "bootstrap/variables";


$bs-body-bg: #fffbd8;
$primary: #fffbd8;
$secondary: #424242;
$bs-nav-link-font-size: 27px;
$bs-nav-link-font-weight: bold;


@import "../node_modules/bootstrap/scss/bootstrap";